<div class="row" *ngIf="member">

  <div class="col-3 mb-4">
    <div class="card border-dark p-2">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"  class="card-img-top img-thumbnail">


    <div class="card-body">
      <div>
        <strong>Location : </strong>
        <p>{{member.country}},{{member.city}}</p>
      </div>
      <div>
        <strong>Age : </strong>
        <p>{{member.age}}</p>
      </div>
      <div>
        <strong>Member Since : </strong>
        <p>{{member.createdAt | date}}</p>
      </div>
      <div>
        <strong>Last Active :</strong>
        <p>{{member.lastActive | timeago}}</p>
      </div>




    </div>

    <div class="card-footer ">
      <div class="btn-group d-flex">
        <button class="btn btn-info">Like</button>
        <button class="btn btn-secondary">Message</button>
      </div>
    </div>
  </div>
  </div>


  <div class="col-8 mb-4 ml-4 card border-primary">
    <tabset class="member-tabset member-details" #memberTabs>
      <tab heading='About {{member.knownAs}}' (selectTab)="LoadActiveTab($event)">
          <h4>Description</h4>
          <p>{{member.introduction}}</p>
          <h4>Looking for</h4>
          <p>{{member.lookingFor}}</p>
      </tab>
      <tab heading='Interests'  (selectTab)="LoadActiveTab($event)">
          <h4>Interests</h4>
          <p>{{member.interests}}</p>
      </tab>
      <tab heading='Photos'  (selectTab)="LoadActiveTab($event)">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
         style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
      </tab>
      <tab heading='Messages'  (selectTab)="LoadActiveTab($event)">
          <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages>
      </tab>
  </tabset>
  </div>
</div>
